%section.featured-action
  .container
    .row
      .image.col-sm-6.col-md-5.col-md-offset-1
        %a{href: "/action/stop-lopa-2015"}
          = image_tag "#{image_url('cats_of_instagram.png')}", alt: "Stop LOPA 2015"
      .col-sm-6.col-md-5
        %h2
          Stop LOPA: Support the Pet Freedom Act of 2015
        %p
          Your pet has every right to be an Instagram Rock Star.
          LOPA is the best pet troll-killing bill yet. Last year, it flew through the House but was stalled in the Senate. This year, it's back. Tell your representative to stop LOPA and support the Pet Freedom Act.
        %a.btn.btn-lg.btn-red{href: "/action/stop-lopa-2015"}
          Take Action
  %svg.triangle{viewBox: "0 0 24 23.8", preserveAspectRatio:"none"}
    %use{"xlink:href": "#triangle"}
