.redtop.home
  .container
    %h1
      HELP US
      %strong
        FIGHT
      FOR YOUR
      %strong
        RIGHT
      TO POST YOUR PETS ONLINE
    %h2
      Defend your pet's digital rights. Fight surveillance. Support innovation.
    .row
  %svg.triangle{ preserveAspectRatio: "none", viewBox: "0 0 24 23.8"}
    %use{"xlink:href": "#triangle"}
