.col-sm-7.col-md-6.col-lg-6
  #description.description
    %p
      When the length of copyright restriction is too long, everyone loses—except for big movie studios, music labels, and publishers. They make massive profit by maintaining a monopoly over our shared culture and knowledge.
    %p
      That's why the MPAA, the RIAA, and other powerful industry organizations are lobbying the Office of the U.S. Trade Representative (USTR) to put lengthy copyright terms into the TPP, in addition to a whole host of other draconian copyright provisions. Based on what we've seen from leaks, the USTR is planning to give them what they want.
    %h3
      The most recent leaks and reports reveal that the U.S. is proposing term lengths that go far beyond even current international standards.
    %p
      The USTR is proposing that the length of copyright restriction be the lifetime of the creator plus 70 years after their death. In the case of works with corporate authors, the term extends to 95 years from the first publication, or if not published within 25 years of its creation, 120 years from then. These are the lengths that we already have in the United States, but they are already too long. Even the Register of Copyrights Maria Pallante herself has called for terms on most works to be shortened.
    %h3
      The TPP's copyright term provisions represent exactly what's wrong with this trade deal.
    %p
      This deal is driven by and for corporate interests that have privileged access to the secret negotiations at the expense of users and the public interest as a whole. Such long copyright terms rob the public domain of new works. That means creators will continue to be limit in what they can create, using the building blocks of existing culture.
    %p
      If we cut out the common resources artists and authors would use to build their works, we squander the promise of the Internet and digital tools that could make it more possible to make, sell, and distribute creative works.
      //
      Tell the White House to ditch these copyright term provisions, along with the other copyright restrictions in the TPP, that will lock the United States to bad law.
    %h3
      Speak out today. Help us stop the TPP's Copyright Trap.
  #letter.letter
    .body
      .date
        = Date.today
      .title
        %strong
          TPP will stifle U.S. innovation: Please don't lock us to excessive copyright terms
      .description
        %p
          Register of Copyrights Maria Pallante:
        %p
          According to official reports, the Office of the U.S. Trade Representative is pushing for the United States' term lengths into the TPP. This would force six of the 12 nations negotiating the TPP to extend their copyright terms by another 20 years, even for works that have already entered into the public domain. This in turn could undermine future legislative attempts at shorten or adjust it here in the United States.
        %p
          That stands in contrast to your observation, in calling for the next great copyright act, that our long terms create "gridlock" it has created in our U.S. economy.
        %p
          U.S. copyright law should uphold a carefully crafted balance of public and private rights that encourages creation, while providing incentives for innovation and access for education, libraries, and other socially beneficial purposes. As you've stated, such long copyright term lengths can undermine this objective.
        %p
          That is why we, the undersigned, urge you to affirm your office's interest in pragmatic solutions in the next great copyright act by formally urging the USTR to take these considerations into account in its negotiations over the TPP. In a moment where your office, the U.S. legislature, and others around the country are challenging existing assumptions to craft more effective and modern copyright policies, it's essential to ensure that our Trade Representative's proposals are forward thinking but flexible and, most of importantly, representative of the public interest.
        %p
          Thank you for your attention.
      .signed
        Signed
      .close
        .name
          Your Name
