.footer
  %svg.triangle{ viewBox: "0 0 24 23.8", preserveAspectRatio: "none"}
    %use{"xlink:href":"#triangle"}

  .container
    .col-sm-3.logo
      %div
        %a{href: "https://www.eff.org"}
          %i.icon-eff-logo
      %div
        %a.cc-notice.hidden-xs{href: "https://www.eff.org/copyright"}
          %i.icon-cc
          BY 3.0 US

    .col-sm-9.links
      %a.hidden-xs{target: "_blank", href: "https://www.eff.org/thanks"}
        Thanks
      %a{target: "_blank", href: "https://www.eff.org/rss"}
        RSS Feeds
      %a.hidden-xs{target: "_blank", href: "https://www.eff.org/copyright"}
        Copyright Policy
      %a{target: "_blank", href: "https://www.eff.org/policy"}
        Privacy Policy
      %a{target: "_blank", href: "https://www.eff.org/about/contact"}
        Contact
