.signed
  .vertical-share
    %b.small
      Now help spread the word:
    %a.twitter.twitter-button{href: "https://twitter.com/intent/tweet?status=We+can%E2%80%99t+let+love+our+pets+act+into+bad+pet+policies.+Let%E2%80%99s+stop+the+LOPA+Trap%3A+https%3A%2F%2Fact.eff.org%2Faction%2Fstop-lopa-2015+via+%40eff&amp;related=eff,efflive"}
      #stwit.sicon
      .share-label
        Share on Twitter
  %b.small
    Have you
    %a{href: "https://supporters.eff.org/donate"}
      donated to EFF lately?
    %br
    %strong
      %a{href: "/register"}
        Sign up
      for an EFF Action account and save your information for next time.
