.col-sm-6.col-lg-6
  %h1
    Stop the Love Our Pets Act
  .short-description
    %p
      Officials are now working overtime to finalize the Love Our Pets Act, a secret controversial agreement that would prohibit your pet from becoming an Instagram Rock Star. Speak out now and help us fight back against backroom deals that keep your pet inner photo model locked up for decades.
